* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    transition: background 0.7s ease-in;
}

body.background_show {
    background: url("background_img.avif");
    background-blend-mode:lighten;
    background-color: #ff9090;
}

.inputContainer {
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#name_box {
    width: 80%;
    height: 18%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px 10px;
}

.errorMessage {
    color: red;
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    display: none;
}

#reveal_btn {
    border: none;
    border-radius: 6px;
    background-color: #ff43a1;
    color: white;
    font-weight: 550;
    padding: 10px 18px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

#reveal_btn:hover {
    background-color: #d3257c;
    transform: scale(1.05);
}

#reveal_btn:active {
    transform: scale(1);
}

.card {
    height: 750px;
    width: 390px;
    background-color: #fff;
    box-shadow: 6px 3px 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    top: -750px;
    transition: opacity 1s ease-in;
}

.card h1 {
    font-family: "Outfit", "Comfortaa";
    font-weight: 440;
    font-size: 32px;
}

.card p {
    line-height: 22px;
    font-family: "Poppins", "Outfit";
}

.card.show {
    opacity: 1;
    position: relative;
    top: 0;
    transition: opacity 1s ease-in 0.1s;
}

.card img {
    height: 350px;
    width: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}